@media only screen and (max-width: 650px) {
  .create-event-text {
    display: none;
  }
  .black-button.create-event-button {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: 0;
    position: fixed;
    bottom: 2%;
    right: 5%;
  }
}
